<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars collection</title>
  </head>
  <header>
    <div id="loginMenu">
      <form action="">
        <fieldset>
          <input type="email" name="email" />
          <input type="password" />
          <button type="submit">Login</button>
          <button type="button"><a href="/signup">Sign Up</a></button>
        </fieldset>
      </form>
    </div>
    <p>this is the header</p>
  </header>
</html>
