<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Cars collection</title>
  </head>
  <header>
    <div id="loginMenu">
      <form action="/" method="post">
        <fieldset>
          <input type="email" name="email" />
          <input type="password" />
          <button type="submit">Login</button>
          <a href="/signup">Sign Up</a>
        </fieldset>
      </form>
    </div>
    <a href="/">Home</a>
    <a href="/register"> Register a new card </a>
  </header>
</html>
