<%- include("./partials/header") -%>
<main>
  <fieldset>
    <label for="email">Insert your email</label>
    <input type="email" name="email" />
    <label for="password">Create a password</label>
    <input type="password" name="password" id="" />
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="" />
  </fieldset>
</main>
<%- include("./partials/footer") -%>
