* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Teko", sans-serif;
}
/* header */
a {
  text-decoration: none;
  color: orange;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
#loginMenu fieldset {
  padding: 1em;
  border: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
input {
  padding: 0.2em;
  border-radius: 1em;
  border: none;
}
button {
  padding: 0.2em;
  border-radius: 0.1em;
  border: none;
}

/* index route */
div.flex-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: antiquewhite;
  border-radius: 1em;
  padding: 0.3em 1em;
  color: rgb(82, 73, 55);
  background-color: rgb(245, 151, 36);
  border: white 0.15em solid;
}
article.carCard img {
  height: 10rem;
  width: 12rem;
  border-radius: 1em;
  border: gold 2px solid;
}

section#cards {
  display: flex;
  flex-wrap: wrap;
}

article.carCard {
  position: relative;
  color: black;
  border: white 0.4em solid;
  border-radius: 1em;
  background: url("/img/carbon.jpg");
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  transition: ease-in-out 0.5s;
  text-transform: capitalize;
}
article.carCard:hover {
  transform: translateX(10px);
}

footer {
  background-color: blanchedalmond;
  position: fixed;
  bottom: 0;
  color: black;
}

.hidden {
  display: none;
  opacity: 0;
}
.active {
  display: block;
  opacity: 1;
  transition: all 1s ease-out;
}

#register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
#register fieldset {
  border: none;
}
