* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Teko", sans-serif;
}
/* header */
a {
  text-decoration: none;
  color: orange;
}
#message {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 1em;
  background-color: rgb(3, 102, 3);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  border-bottom: 2px gray solid;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
main {
  display: flex;
  flex-direction: column;
}
input {
  padding: 0.3em;
  border-radius: 1em;
  text-align: center;
  border: none;
  background-color: gray;
}
textarea {
  background-color: gray;
}
button {
  color: white;
  padding: 0.5em;
  border-radius: 0.2em;
  border: none;
  background-color: rgb(15, 170, 15);
  border: 1px solid white;
}
button:hover {
  transform: scale(0.9);
}

button:hover {
  cursor: pointer;
}

/* index route */
div.flex-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: antiquewhite;
  border-radius: 1em;
  padding: 0.3em 1em;
  color: rgb(82, 73, 55);
  background-color: rgb(245, 151, 36);
  border: white 0.15em solid;
}
article.carCard img {
  height: 10rem;
  width: 12rem;
  border-radius: 1em;
  border: gold 2px solid;
}

section#cards {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

article.carCard {
  position: relative;
  color: black;
  border: white 0.4em solid;
  border-radius: 1em;
  background: url("/img/carbon.jpg");
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  transition: ease-in-out 0.5s;
  text-transform: capitalize;
}
article div.cardControl {
  position: absolute;
  right: 1em;
  top: 1em;
  display: none;
  flex-direction: column;
  width: 50%;
  text-align: center;
  box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
.deleteConfirmation {
  position: absolute;
  background-color: rgb(44, 5, 124);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2rem;
  display: none;
  z-index: 9999;
}
.deleteConfirmation::backdrop {
  background-color: rgba(0, 0, 0, 0.441);
}
.openMenu {
  font-size: 2em;
  position: absolute;
  right: -0.4em;
  top: -0.1em;
  color: aliceblue;
  padding: 0.5em;
}
.openMenu:hover {
  color: darkorange;
  cursor: pointer;
}
.details {
  padding: 0.5em;
  background-color: beige;
}
.update {
  color: darkorange;
  padding: 0.5em;
  background-color: black;
}
.update:hover {
  cursor: pointer;
}
.delete {
  padding: 0.5em;
  background-color: rgb(172, 3, 3);
}
.delete:hover {
  cursor: pointer;
}
footer {
  background-color: rgb(37, 35, 32);
  color: rgb(211, 185, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  gap: 1em;
}
.updateForm {
  display: none !important;
  position: absolute;
  padding: 0.5em;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: stretch center;
  border: 2px solid white;
  border-radius: 1em;
  text-align: center;
  background: url("/img/carbon.jpg");
  z-index: 998;
}
.updateForm fieldset {
  border: none;
}
.closeUpdate {
  padding: 0.3em;
}
.closeUpdate:hover {
  color: darkorange;
  cursor: pointer;
}
.closeConfirmation {
  background-color: rgb(177, 3, 3);
}
.active {
  display: flex !important;
}

#register {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  text-align: center;
}
#register fieldset {
  border: none;
}
#register fieldset input {
  width: 100%;
}
#register fieldset textarea {
  width: 100%;
}
#search {
  margin: 0.3em;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.fa-magnifying-glass:hover {
  cursor: pointer;
  color: darkorange;
}
