* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Teko", sans-serif;
}
/* header */
a {
  text-decoration: none;
  color: orange;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}
#loginMenu fieldset {
  padding: 1em;
  border: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
input {
  padding: 0.2em;
  border-radius: 1em;
  border: none;
}
button {
  padding: 0.2em;
  border-radius: 0.1em;
  border: none;
}

/* index route */
div.flex-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: antiquewhite;
  border-radius: 1em;
  padding: 0.3em 1em;
  color: rgb(82, 73, 55);
  background-color: rgb(245, 151, 36);
  border: white 0.15em solid;
}
article.carCard img {
  height: 10rem;
  width: 12rem;
  border-radius: 1em;
  border: gold 2px solid;
}

section#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

article.carCard {
  position: relative;
  color: black;
  border: white 0.4em solid;
  border-radius: 1em;
  background: url("/img/carbon.jpg");
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  transition: ease-in-out 0.5s;
  text-transform: capitalize;
}
article div.cardControl {
  position: absolute;
  right: 1em;
  top: 0;
  border-radius: 0.3em;
  background-color: aqua;
  display: none;
  width: 50%;
}
.deleteConfirmation {
  position: absolute;
  background-color: rgb(44, 5, 124);
  padding: 2rem;
  right: 50%;
  top: 50%;
  display: none;
  z-index: 9999;
}
.deleteConfirmation::backdrop {
  background-color: rgba(0, 0, 0, 0.441);
}
.openMenu {
  font-size: 2em;
  position: absolute;
  right: -0.4em;
  top: -0.1em;
  color: aliceblue;
  padding: 0.5em;
}
.openMenu:hover {
  color: darkorange;
  cursor: pointer;
}
.details {
  padding: 0.5em;
  background-color: beige;
}
.update {
  color: darkorange;
  padding: 0.5em;
  background-color: black;
}
.delete {
  padding: 0.5em;
  background-color: rgb(172, 3, 3);
}
footer {
  background-color: blanchedalmond;
  position: fixed;
  bottom: 0;
  color: black;
}
.updateForm {
  display: none;
}
.closeUpdate:hover {
  color: darkorange;
  cursor: pointer;
}
.active {
  display: block !important;
}

#register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}
#register fieldset {
  border: none;
}
